<div class="flex_test-box">
   <div class="flex_test-item">  
       <%= image_tag "headphone.png"  %>
   </div>
   <div class="flex_test-item">
       <p>もっと中国人がおすすめする中国語の曲を知りたい</p>
       <p>自分の友だちにも中国語の曲を知ってほしい</p>
       <p>中国人の友人が日本語にふれる機会を増やしたい</p>
       <p>という思い出このページを作りました</p>
       <p>このページでの新しい音楽との出会いを通して</p>
       <p>何か新しい発見があると幸いです。</p>
    </div>
</div>

<div class="flex_test-box">
   <div class="flex_test-item">  
        <p>随时分享你喜欢的歌曲！</p>
        <p>我想听听中国人推荐的歌曲</p>
        <p>我想让我的朋友们也知道中国音乐的魅力</p>
        <p>我想提供日本人和中国人可以交流的机会</p>
        <p>我抱着这样的想法来制作这个网站</p>
        <p>在这里你可以随时分享逆喜欢的歌曲</p>
        <p>也可以关于别人分享的歌曲聊聊</p>
        <P>日本的中国的都可以！</P>
        <P>希望在这个网站上大家好好交流</P>
    </div>
    <div class="flex_test-item"> 
        <%= image_tag "walk.png" %>
    </div>

</div>




<div><%= image_tag "peaple.png" %></div>
<div><%= image_tag "himawari.png" %></div>

<%= link_to "back", musics_path %>